<div class="col-md-12">
    <div class="card">
        <div class="card-header">Discord Settings</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <form action="{% url 'hradmin:update_discord' %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="welcome" value="true">
                            <div class="card-header">Welcome Settings <div class="float-end"><input type="checkbox" name="enabled" id="welcomeEnabled" {% if discord_settings.enable_welcome_messages %}checked{% endif %}/>&nbsp;<label for="welcomeEnabled">Enabled?</label></div></div>
                            <div class="card-body">
                                <label for="welcomeChannel">Welcome Channel</label>
                                <input type="text" class="form-control" id="welcomeChannel" name="channel" value="{% if discord_settings.welcome_channel %}{{ discord_settings.welcome_channel }}{% endif %}">
                                <label for="welcomeMessage">Welcome Message</label>
                                <textarea class="form-control" id="welcomeMessage" name="message" rows="3">{% if discord_settings.welcome_message %}{{ discord_settings.welcome_message }}{% endif %}</textarea>
                                <label for="welcomeIgnoredStates">Ignored States</label>
                                <select class="form-control" id="welcomeIgnoredStates" name="ignored_states" multiple>
                                    {% for state in states %}
                                        <option value="{{ state.id }}">{{ state.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="card-footer">
                                <div class="text-end">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <form action="{% url 'hradmin:update_discord' %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="recruitment" value="true">
                            <div class="card-header">Recruitment Settings</div>
                            <div class="card-body">
                                <label for="recruitmentMode">Mode</label>
                                <select class="form-control" id="recruitmentMode" name="mode">
                                    {% for value, label in recruitment_modes %}
                                        <option value="{{ value }}" {% if discord_settings.recruitment_mode == value %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <label for="recruitmentRole">Recruiter Role</label>
                                <input type="text" class="form-control" id="recruitmentRole" name="role" value="{% if discord_settings.recruiter_role %}{{ discord_settings.recruiter_role }}{% endif %}">
                                <label for="recruitmentRRole">Recruit Role</label>
                                <input type="text" class="form-control" id="recruitmentRRole" name="rrole" value="{% if discord_settings.recruit_role %}{{ discord_settings.recruit_role }}{% endif %}">
                                <hr>
                                <label for="recruitmentChannel">Thread Channel <small class="text-muted">(threads mode)</small></label>
                                <input type="text" class="form-control" id="recruitmentChannel" name="channel" value="{% if discord_settings.recruitment_thread_channel %}{{ discord_settings.recruitment_thread_channel }}{% endif %}">
                                <label for="recruitmentCategory">Recruitment Category <small class="text-muted">(private channels mode)</small></label>
                                <input type="text" class="form-control" id="recruitmentCategory" name="category" value="{% if discord_settings.recruitment_category %}{{ discord_settings.recruitment_category }}{% endif %}">
                                <label for="recruitmentArchiveCategory">Archive Category <small class="text-muted">(private channels mode)</small></label>
                                <input type="text" class="form-control" id="recruitmentArchiveCategory" name="archive_category" value="{% if discord_settings.recruitment_archive_category %}{{ discord_settings.recruitment_archive_category }}{% endif %}">
                            </div>
                            <div class="card-footer">
                                <div class="text-end">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <form action="{% url 'hradmin:update_discord' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="notification" value="true">
                            <div class="card-header">Recruitment Notification Settings<div class="float-end"><input id="recruitNotiEnabled" type="checkbox" name="enabled" {% if discord_settings.enable_application_notifications %}checked{% endif %}> <label for="recruitNotiEnabled">Enabled?</label></div></div>
                            <div class="card-body">
                                <label for="recruitmentNotiChannel">Notification Channel</label>
                                <input type="text" class="form-control" id="recruitmentNotiChannel" name="channel" value="{% if discord_settings.application_notification_channel %}{{ discord_settings.application_notification_channel }}{% endif %}">
                            </div>
                            <div class="card-footer">
                                <div class="text-end">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>